[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
four-letter-blocks = {editable = true, path = "."}
beautifulsoup4 = "*"
scipy = "*"
pyside6 = "*"

[dev-packages]
four-letter-blocks = {editable = true, extras = ["dev"], path = "."}
mypy = "*"

[requires]
python_version = "3.12"
